:root {
    --fc-page-bg-color: #222;
    --fc-border-color: #f1f1f1;
    --fc-button-border-color: #d39334;
    --fc-button-bg-color: #d39334;
    --fc-today-bg-color: rgba(67, 185, 12, 0);
    --fc-event-border-color: rgba(250, 17, 17, 0);
}